# Initrd support
BLK_DEV_INITRD = true;
RD_LZMA = true;

# Needed so we can jump to the new kernel
KEXEC = true;

# Else stuff WILL NOT show up on some exotic systems
X86_INTEL_LPSS = true;

# We need to be able to run as an EFI application
EFI = true;
EFI_STUB = true;
EFI_HANDOVER_PROTOCOL = true; # Compat

# Embed a kernel commandline
CMDLINE_BOOL = true;
CMDLINE = "loglevel=7 sdhci.debug_quirks2=4";

# Power management via ACPI
PM = true;
ACPI = true;
ACPI_SPCR_TABLE = true;
ACPI_FPDT = true;
ACPI_BGRT = true;
ACPI_PCC = true;
ACPI_FFH = true;
ACPI_PRMT = true;

# PMIC's
PMIC_OPREGION = true;

# Intel SoC's
BYTCRC_PMIC_OPREGION = true;
CHTCRC_PMIC_OPREGION = true;
CHT_WC_PMIC_OPREGION = true;
CHT_DC_TI_PMIC_OPREGION = true;

# PCI(e) config
PCI = true;
PCI_MMCONFIG = true;
PCIEPORTBUS = true;
PCI_MSI = true;

# We need this so that our init can run
BINFMT_ELF = true;
BINFMT_SCRIPT = true;

# Networking
#
# Even though we never actually perform any network operations,
# this is still useful to have for busybox as it covers even internal
# networking.
CONFIG_NET = true;

# Block devices
BLK_DEV = true;

# i2c
I2C = true;
ACPI_I2C_OPREGION = true;

# Quirks for Intel SoC's
I2C_DESIGNWARE_PLATFORM = true;
I2C_DESIGNWARE_BAYTRAIL = true;
I2C_DESIGNWARE_PCI = true;

# SPI
SPI = true;

# Quirks for Intel SoC's
SPI_DESIGNWARE = true;
SPI_DW_DMA = true;
SPI_DW_PCI = true;
SPI_DW_MMIO = true;

# GPIO
# Quirks for Intel SoC's
GPIO_CRYSTAL_COVE = true;

# Hardware poweroff/reset
POWER_RESET = true;
POWER_RESET_RESTART = true;

# HID/USB
HID_GENERIC = true;
USB = true;
USB_PCI = true;
USB_HID = true;
USB_SUPPORT = true;

USB_OHCI_HCD = true;
USB_EHCI_HCD = true;
USB_XHCI_HCD = true;
USB_UHCI_HCD = true;

USB_STORAGE = true;

# Quirks for Intel SoC's
USB_DWC3 = true;
USB_DWC3_PCI = true;
USB_DWC3_HAPS = true;

USB_DWC2 = true;
USB_DWC2_PCI = true;

# Storage
MMC = true;
MMC_BLOCK = true;
MMC_SDHCI = true;
MMC_SDHCI_PCI = true;
MMC_SDHCI_ACPI = true;
MMC_SDHCI_PLTFM = true;
MMC_HSQ = true;

# DMA
DMADEVICES = true;
INTEL_IDMA64 = true;
INTEL_IDXD = true;
DW_DMAC = true;
DW_DMAC_PCI = true;

# IOMMU
IOMMU_SUPPORT = true;
INTEL_IOMMU = true;
INTEL_IOMMU_SVM = true;
INTEL_IOMMU_DEFAULT_ON = true;
INTEL_IOMMU_SCALABLE_MODE_DEFAULT_ON = true;

# Frequency scaling
PM_DEVFREQ = true;

# PWM
PWM = true;
PWM_CLK = true;
PWM_CRC = true;
PWM_DWC = true;
PWM_LPSS_PCI = true;
PWM_LPSS_PLATFORM = true;

# Filesystems
EXT4_FS = true;
EXT4_USE_FOR_EXT2 = true;

# Framebuffers
FB = true;
FB_VESA = true;
FB_EFI = true;

# Graphics drivers
DRM_I915 = true;

# Serial ports
SERIAL_8250 = true;
SERIAL_8250_CONSOLE = true;
SERIAL_8250_LPSS = true;
SERIAL_8250_PCI = true;
SERIAL_8250_EXAR = true;
